@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a{
    text-decoration: none;
    color: hsl(240, 6%, 10%);
    transition: color 0.3s ease;
}

a:hover{
    color: hsl(240, 100%, 30%) !important;
}

h5{
    font-size: 20px;
}

li{
    list-style: none;
}

nav{
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 5px 50px hsla(0, 0%, 0%, 0.1);
}

nav .logo, footer .logo{
    display: flex;
    align-items: center;
}

nav .logo img, footer .logo img{
    width: 50px;
    height: 50px;
}

nav ul, footer .top ul{
    display: flex;
    justify-content: center;
    gap: 100px;
}

nav button{
    color: hsl(240, 6%, 10%);
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid hsl(240, 6%, 10%);
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover{
    background-color: hsl(240, 100%, 30%);
    border-color: hsl(240, 100%, 30%);
    color:hsl(0, 0%, 100%);
}

nav button#menuButton{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}

.main{
    background-color: #deebee;
    padding: 90px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.main .left{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main .left h3{
    margin-top: 10px;
    font-weight: bold;
    font-size: 48px;
}

.main .left p{
    font-size: 20px;
    margin-top: 20px;
}

.main .left button{
    margin-top: 40px;
    cursor: pointer;
    background-color: #fff;
    padding: 14px 24px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.main .right img{
    width: 600px;
}

.skills{
    padding: 110px 100px 0;
}

.skills h3, .about .right h3, .portfolio .header h3{
    font-size: 42px;
    margin-top: 20px;
}

.skills .skill-items{
    display: flex;
    margin-top: 70px;
    gap: 40px;
}

.skills .skill-items .item{
    background-color: #deebee;
    width: 25%;
    border-radius: 10px;
    padding: 32px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skills .skill-items .item:hover{
    border-color: #5e3bee;
}

.skills .skill-items .item .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 46px;
    height: 46px;
    border-radius: 10px;
    margin-bottom: 22px;
    box-shadow: 0 opx 16px hsla(0, 0%, 0%, 0.1);
}

.skills .skill-items .item .icon i{
    font-size: 26px;
    color: red;
}

.skills .skill-items .item h4, .portfolio .portfolio-items .item .info h4{
    font-size: 18px;
    font-weight: bold;
}

.skills .skill-items .item p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
}

.about{
    padding: 110px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.about .left img{
    width: 440px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.about .right p{
    font-size: 16px;
    margin-top: 30px;
}

.portfolio{
    background-color: #deebee;
    padding: 110px 100px;
}

.portfolio .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.portfolio .header button{
    background-color: red;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    border: none;
    border-radius: 5px;
}

.portfolio .header button i{
    font-size: 26px;
}

.portfolio .portfolio-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio .portfolio-items .item{
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 32px hsla(0, 0%, 0%, 0.15);
    transition: all 0.3s ease;
}

.portfolio .portfolio-items .item:hover{
    border-color: red;
}

.portfolio .portfolio-items .item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px 10px 20px 20px;
}

.portfolio .portfolio-items .item .info{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px 32px 42px;
}

.portfolio .portfolio-items .item .info p{
    font-size: 13px;
}

.portfolio .portfolio-items .item .info a{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: red;
}

.portfolio .portfolio-items .item .info a i{
    margin-left: 2px;
    font-size: 16px;
}

.pricing{
    padding: 100px 100px;
}

.pricing .header{
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.pricing .sub-header{
    font-size: 28px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.pricing .pricing-items{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.pricing .card{
    padding: 20px 60px;
    background-color: #5e3bee;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.pricing .card:hover{
    background-color: aqua;
    border-color: #fff;
}

.pricing .card .content{
    flex: 1;
    margin-bottom: 20px;
}

.pricing .card h4{
    margin-bottom: 40px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

.pricing .card h3{
    color: #fff;
    padding-bottom: 20px;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: bold;
    border-bottom: 2px dashed #fff;
}

.pricing .card p{
    color: #fff;
    padding-bottom: 40px;
    margin-bottom: 20px;
    font-size: 18px;
}

.pricing .card p i{
    color: #ccc;
    font-size: 20px;
    margin-right: 20px;
}

.pricing .card button{
    color: #fff;
    background-color: transparent;
    border: 3px solid #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

.pricing .card button:hover{
    background-color: #1e40af;
    border-color: #1e40af;
    cursor: pointer;
}

footer{
    background-color: #deebee;
    padding: 85px;
    display: flex;
    flex-direction: column;
}

footer .top, footer .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .top .social-links{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;
}

footer .separator{
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 30px 0 20px;
}

footer .bottom p{
    font-size: 14px;
}

footer .bottom .links a{
    font-size: 14px;
    margin-left: 10px;
}

.copyright{
    background-color: #deebee;
    margin: auto;
    padding: 5px;
    color: black;
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    nav ul, footer .top ul{
        display: flex;
        gap: 50px;
    }

    .main .left h5{
        font-size: 18px;
    }

    .main .left h3{
        font-size: 36px;
    }

    .main .left p{
        font-size: 18px;
    }

    .main .right img{
        width: 380px;
    }

    .skills .skill-items{
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .skills .skill-items .item{
        width: 50%;
    }

    .about .left img{
        width: 380;
    }

    .skills h3, .about h3, .portfolio h3{
        font-size: 32px;
    }

    .about .right p{
        font-size: 14px;
    }

    .portfolio .portfolio-items{
        gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .portfolio .portfolio-items .item{
        width: 48%;
    }

    .pricing .pricing-items{
        grid-template-columns: repeat(2, 1fr);
    }

    footer .top ul{
        gap: 50px;
    }
}

@media screen and (max-width: 992px){
    nav{
        padding: 0 70px;
    }

    nav button{
        display: none;
    }

    .main{
        flex-direction: column;
        justify-content: center;
    }

    .about{
        flex-direction: column;
        justify-content: center;
    }

    .skills .skill-items{
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills .skill-items .item{
        width: 48%;
    }

    .portfolio .portfolio-items{
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .portfolio .portfolio-items .item{
        width: 48%;
    }

    footer .top ul{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    nav ul{
        display: none;
    }

    nav.open .logo{
        display: none;
    }

    nav.open ul{
        display: flex;
    }

    nav button#menuButton{
        display: flex;
    }

    .skills .skill-items{
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills .skill-items .item{
        width: 100%;
    }

    .portfolio .portfolio-items .item{
        width: 100%;
    }

    .pricing .pricing-items{
        grid-template-columns: repeat(1, 1fr);
    }
    footer .bottom{
        flex-direction: column;
    }
}

@media screen and (max-width: 576px){
    nav .logo a{
        font-size: 18px;
    }
}